# Mistral API Configuration
MISTRAL_API_KEY=your_mistral_api_key_here
MISTRAL_MODEL=mistral-small-latest  #or any mistral vision model you wish to use

# your folder path
IMAGE_FOLDER=path_to_your_image_folder

